.main {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  gap: 2rem;
}

.title h3 {
  font-weight: 500;
  font-size: 25px;
}

.title h4 {
  font-weight: 400;
  font-size: 20px;
}

.episode_control{
  display: flex;
  justify-content: center;
  padding: 3rem 1rem;
}

.nextIcon {
  height: 2rem;
  width: 2rem;
  color: white;
}

@media (max-width: 768px) {
  .title h3 {
    font-weight: 500;
    font-size: 20px;
  }
  
  .title h4 {
    font-weight: 400;
    font-size: 15px;
  }
}


