.main {
  display: flex;
  flex-direction: row;
  padding: 2rem 2rem;
  gap: 2rem;
}

.coverImage {
  display: block;
  flex: 1;
}

.info {
  display: flex;
  color: white;
  flex-direction: column;
  flex: 3;
}

.info h2 {
  font-weight: 300;
  font-size: 40px;
  padding: 0.25rem 0rem;
}

.info h3 {
  font-weight: 500;
  font-size: 25px;
  padding: 0.25rem 0rem;
}

.info h4 {
  font-weight: 400;
  font-size: 20px;
}

.info p {
  font-weight: 400;
  font-size: 18px;
}

.description{
  padding: 1rem 0rem;
}

.episodes{
  display: flex;
  flex-direction: column;
}

.episodeButtons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem 0rem;
  gap: 1rem;
}


.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0rem;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  color: lightskyblue;
}

.starIcon {
  height: 1.5rem;
  width: 1.5rem;
  color: gold;
}

@media (max-width: 768px) {
  .main {
    display: block;
  }

  .info {
    padding: 1rem 0rem;
  }
}
